* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

body{
   background-color: #F6F7EB;
}

a {
    color: #4C4B63;
    text-decoration: none;
    transition: .3s;
}

.menu a:hover {
    color: #44BBA4;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
}

li {
    margin-left: 18px;
}

.home {
    height: 100vh;
}   

.apresentacao {
    padding: 80px;
    align-items: center;
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    /* display: flex;
    justify-content: space-between; */
}

.apresentacao .title h3 {
    font-weight: 300;
    margin-left: 105;
    font-size: 20px;
    color: #393E41;
}

.apresentacao p {
    margin-right: 50px;
}

.social-midias {
   margin-top: 40px;
   margin-left: 50px;
   
   
}

.social-midias img {
    height: 24px;
    margin-left: 10px;
    transition: .3s;
}

.social-midias img:hover {
    transform: translateY(-10px);
}

.social-button {
    display: flex;
    align-items: center;
}

h1 {
    color: #393E41;
}

.title p {
    max-width: 450px;
    font-size: 15px;
    line-height: 17px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 5px;
    color: #393E41;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 25px;
    height: 35px;
    width: 120px;
    background-color: #44BBA4;
    transition: .3s; 
}

.button:hover {
    transform: translateY(-5px);
}

.button a {
    color: white;
}

.menu {
    display: flex;
    list-style: none;}

.menu a {
    display: block;
    padding: .5rem;
    transition: none;
}

.btn-mobile {
    display: none;
}

.img-eu img {
    height: 270px;
    border-radius: 49% 51% 50% 50% / 30% 34% 66% 70% ;
}

.about {
    height: 90vh;
}

.title-about,
.title-skills,
.title-portifolio {
    display: flex;
    justify-content: center;
}

.content-about {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about .photo {
    height: 250px;
    width: 250px;
    background-color: #44BBA4;
    clip-path: circle();
}

.content-about .photo img {
    height: 250px;
    object-fit: cover;
}   

.description {
    max-width: 620px;
}

.description .text-description p {
    margin-left: 50px;
}

.description .button {
    margin-left: 47px;
    background-color: #44BBA4;
    height: 40px;
    width: 150px;
}

.description .button a {
    display: flex;
}

.description .button p {
    font-size: 15px;
    color: white;
}

.description .button img {
    height: 20px;
    margin-right: 5px;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: .6s;
    --animate-delay: .9s;
}

.icon img {
    height: 30px;
    position: fixed;
    top: 90%;
    left: 95%;
}

.skills {
    height: 80vh;
}

.about-h1::after {
    content: "";
    display: flex;
    position: relative;
    height: 3.5px;
    width: 85%;
    left: 10px;
    background-color: #44BBA4; 
}


.skills-h1::after {
    content: "";
    display: flex;
    position: relative;
    height: 3.5px;
    width: 75%;
    left: 11px;
    background-color: #44BBA4; 
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px;
    margin-top: 18px;
}

.card-content::after {
    content: "";
    display: block;
    justify-content: center;
    position: relative;
    height: 3.5px;
    width: 100%;
    top: 30px;
    background-color: black; 
}

.card-content{
    width: 140px;
    height: 140px;

    background-color: #44BBA4;
    margin-top: 50px;
   
    border-radius: 30px 2px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 60px;
    margin-top: 15px;

    transition: .3s;
}

.card-content h1 {
    font-size: 15px;
    font-weight: 300;

    margin-top: 5px;
    color: #F6F7EB;
}

.card-content img {
    height: 70px;

    margin-top: 10px;
}

.card-content:hover {
    transform: translateY(-5px);
}


